lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
.vscode
dist
node_modules.zip
webNJGIS_backend_ts.zip
resources
/pic.pptx
/test
/site
/项目部署发布指北.pptx
/~$项目部署发布指北.pptx
tags
/src/py-scripts/plots
/src/py-scripts/data
/src/public/images/plots
src/py-scripts/data/Biome-BGC-out.nc
